<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ca.culturalawarenessapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appstore"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.DiversityInclusionDetails"></activity>
        <activity android:name=".activities.WebViewActivity" />
        <activity android:name=".activities.CulturalModelDimensions" />
        <activity android:name=".activities.DiversityInclusionEquity" />
        <activity android:name=".activities.LearnActivity" />
        <activity android:name=".activities.QuizActivity" />
        <activity android:name=".activities.AboutUsActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity
            android:name=".activities.ContributeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LearnMainActivity" />
        <activity android:name=".activities.QuizMainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>